<form action="/robots" method="post">
    <p>
      Enter a new Robot:
    </p>
    Robot Name:
      <input type="text" name="robot[name]" /><br>
    Robot City:
    <input type="text" name="robot[city]"></textarea><br>
    Robot State:
    <input type="text" name="robot[state]"></textarea><br>
    Robot Birthdate:
    <input type="text" name="robot[birthdate]"></textarea><br>
    Robot Date Hired:
    <input type="text" name="robot[date_hired]"></textarea><br>
    Robot Department:
    <input type="text" name="robot[department]"></textarea><br>
    <input value='submit' type="submit">
</form>
